<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="<%= root_path %>">fart-together</a>
    <div class="nav-collapse">
      <ul class="nav">
        <%= menu_item "Home", root_path %>
      </ul>
    </div>
  </div>
</div>
